 #preguntas{
            position: relative;
            left: 600px;
            }
            .number{
            background-color: #F2CB05;
            width:17px;
            padding-top: 2px;    
            height: 15px; 
            text-align: center;
            color: #000;    
            font-size:0.6em!important; 
            -webkit-border-radius: 8px;/*Safari, Chrome*/
            -moz-border-radius: 8px;/*Firefox*/
            border-radius: 8px;
                z-index: 1;
    
            }
            .crusigram-td{
            position: relative;
                left:30px;
            }
            .crusigram-td input{
                border: 1px solid #000;
                margin-right: 1px;
                margin-top: 1px;
                background-color: #555;
                text-align: center;
                width: 20px;
                height: 20px;
                -webkit-border-radius: 5px;/*Safari, Chrome*/
                -moz-border-radius: 5px;/*Firefox*/
                border-radius: 5px; 
                font-weight: bold;
            }
            #Stage_juego{
            position: absolute;
           
            }